.checkboxGroup
{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 35%;
    display: inline-block;
}

.aligning {
    display: flex;
    flex-direction: row;
}


input[type="checkbox"] {
    width: auto;
}

#imh-4 {
    background-image: url(../images/cover4.JPG);
}

.full {
    background-position: center center;
    background-size: cover;
}

.registerSection {
    margin-top: 3%;
    width: 30%;
    padding: 2% 5%;
}