body {
    font-family: sans-serif;
    margin: 0px;
}

.error {
    border: solid 2px red;
    border-bottom: solid 5px red;
    background-color: rgb(255, 200, 200);
}

.labelError {
    color: red;
}

.labelWeak {
    color: red;
}

.labelMedium {
    color: green;
}

.labelStrong {
    color: blue;
}

.navbar {
    border-bottom: 3px solid rgba(178, 111, 219, 0.4);
    background-color: black;

    display: block;
    height: auto;
    box-shadow: 1px;
    font-variant: small-caps;
    font-size: 18px;
    color: purple;
}

.navbarLogo {
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    font-family: serif;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 50px;
    color: rgb(250, 210, 10);
    background-color: rgba(178, 111, 219, 0.4);
}

.navbar ul {
    padding: 0;
    width: 750px;
    margin: auto;
    list-style: none;
    height: 50px;
}

.navbar li {
    float: left;
}

.navbar a:hover {
    border-bottom: white 3px solid;
    background-color: rgba(178, 111, 219, 0.4);
    color: white;
}

.navbar a {
    width: 150px;
    text-align: center;
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: rgba(230, 185, 61,1.0);
}

.navbar .username {
    width: 150px;
    text-align: center;
    display: block;
    line-height: 50px;
    text-decoration: none;
    background-color: rgba(178, 111, 219, 0.4);
    color: white;
}

.main {
    width: 100%;
    clear: both;
}

.clear {
    clear: both;
}

.registerSection {
    margin: auto;
    margin-top: 8%;
    border: solid 1px purple;
    border-left: solid 5px purple;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 31%;
    background-color: rgba(230,230,250,0.7);
    font-variant: small-caps;
    color: purple;
    font-weight: 450;
}

.registerSection h1 {
    text-align: center;
}

input {
    padding: 2px;
    font-variant: small-caps;
    width: 100%;
    border: solid 2px purple;
    border-bottom: solid 5px purple;
}

.submit_button {
    font-variant: small-caps;
    font-weight: 600;
    float: left;
    margin-top: 10px;
    margin-left: 5%;
    width: 40%;
    background-color: purple;
    color: white;
}

.reset_button {
    font-weight: 600;
    float: right;
    margin-top: 10px;
    margin-right: 5%;
    width: 40%;
    background-color: purple;
    color: white;
}

label {
    display: block;
    margin-top: 5px;
}

select {
    display: block;
    border: solid 1px purple;
    border-bottom: solid 5px purple;
    background-color: white;
}

textarea {
    padding: 2px;
    font-variant: small-caps;
    width: 100%;
    border: solid 2px purple;
    border-bottom: solid 5px purple;
}

.full {
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
