html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#imh-3 {
    background-image: url(../images/cover3.jpg);
}

.registerSection {
    margin-top: 3%;
    width: 35%;
    padding: 0% 4% 2% 4%;
}

