select {}

#imh-1 {
    background-image: url("../images/040_5000x3750_300dpi_all-free-download.com_2977096.jpg");
}

.full {
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}